body{
    margin: 0;
    background-color: #84E1AD;
}
#barra{
    background-image:linear-gradient(to bottom , #00E742, rgb(53, 182, 53), rgb(40, 114, 6));
    text-decoration: none;
    padding: 10px;
    margin: 0px;
    text-align: center;

}
.barra1 > a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    text-decoration: none;
}
.barra1 > a:hover{
    background: #000;
    color: white;
}
main{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 800px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
}
footer{
    background-color: lightslategray;
    margin: 0;
    padding: 10px;
    color: white;
}
.final > a{
    text-decoration: none;
    color: white;
}