@charset "UTF-8";

@font-face {
    font-family: "android";
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}
:root/*pseudo classe que permite criar variaveis globais e toda variavel deve começar com dois -- */{
    --cor0: #84E1AD;
    --cor1: #00E742;
    --cor2: #35b635;
    --cor3: #04a004;
    --cor4: #006400;
    --cor5: #003500;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bevas Neue', cursive;
    --font-android: 'android', cursive;
}

body{
    margin: 0;
    background-color: #84E1AD;
    font-family: var(--fonte-padrao);
}
header > h1{
    font-family: var(--fonte-destaque);
}
#barra{
    background:linear-gradient(to bottom , var(--cor1), var(--cor2),var(--cor4));

    text-decoration: none;
    padding: 10px;
    margin: 0px;
    text-align: center;

}
.barra1 > a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    text-decoration: none;
}
.barra1 > a:hover{
    background: #000;
    color: white;
}
main{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 800px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
}
footer{
    background-color: lightslategray;
    margin: 0;
    padding: 10px;
    color: white;
}
.final > a{
    text-decoration: none;
    color: white;
}
.texto > h1{
    font-family: "android";
}
h2{
    font-family: "android";background-color: var(--cor0);
    color: var(--cor1);
}